/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2-gen-2015, 12.02.22
    Author     : test_web_smwc
*/


.panel{
    margin:10px;
   
}

.last{
    float:right;
}
h3{
   margin-left:5em;
    
}